* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}
html {
    font-size: 62.5%;
    font-family: monospace, sans-serif;
}
body {
    position: fixed;
    top: 0;
    right: 0;
    left: 0;
    bottom: 0;
}
a {
    text-decoration: none;
    display: inline;
    color: black;
}
/* Header */
header {
    width: 100%;
    height: 140px;
    display: grid;
    grid-template-rows: 1fr 2fr;
}
header .header-icons-container {
    width: 100%;
    display: grid;
    background-color: #47cfac;
}
header .header-icons-container .icons {
    width: 300px;
    height: auto;
    display: flex;
    justify-content: flex-end;
    align-items: center;
    justify-self: end;
    margin-right: 40px;
}
header .header-icons-container .icons a {
    color: white;
}
nav {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    align-items: center;
    height: 90px;
    font-size: 1.6rem;
}
nav .nav-logo-container {
    margin-left: 50px;
}
nav .profile-link {
    justify-self: end;
    margin-right: 50px;
}
nav .nav-logo-container img {
    width: 220px;
    margin-top: 10px;
}
nav .profile-link a {
    border-bottom: 1px solid black;
}
/* Main */
.home-main {
    display: grid;
    background: url('../assets/img/Cover.png');
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    height: 100%;
}
.container {
    width: 80%;
    min-width: 320px;
    max-width: 1200px;
    margin: 0 auto;
}
.home-main .main-container {
    margin-top: 120px;
    max-width: 800px;
    display: flex;
    flex-direction: column;
    align-items: center;
}
.home-main .main-container .main-container-title {
    font-size: 4.2rem;
    text-align: center;
    letter-spacing: 1rem;
    color: white;
}
.home-main .main-container .main-container-cta {
    display: inline-block;
    margin-top: 180px;
    font-size: 2.4rem;
    font-weight: 600;
    background-color: #47cfac;
    padding: 15px;
    border: 1px solid white;
    width: fit-content;
}