* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}
html {
    font-size: 62.5%;
}
body {
    position: fixed;
    top: 0;
    right: 0;
    left: 0;
    bottom: 0;
}
a {
    text-decoration: none;
    display: inline;
    color: black;
}
/* Header */
header {
    width: 100%;
    height: 140px;
    display: grid;
    grid-template-rows: 1fr 2fr;
}
header .header-icons-container {
    width: 100%;
    display: grid;
    background-color: #47cfac;
}
header .header-icons-container .icons {
    width: 300px;
    height: auto;
    display: flex;
    justify-content: flex-end;
    align-items: center;
    justify-self: end;
    margin-right: 40px;
}
header .header-icons-container .icons a {
    color: white;
}
nav {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    align-items: center;
    height: 90px;
    font-size: 1.6rem;
}
nav .nav-logo-container {
    margin-left: 50px;
}
nav .profile-link {
    justify-self: end;
    margin-right: 50px;
}
nav .nav-logo-container img {
    width: 220px;
    margin-top: 10px;
}
nav .profile-link a {
    border-bottom: 1px solid black;
}