* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}
html {
    font-size: 62.5%;
    font-family: monospace, sans-serif;
}
a {
    text-decoration: none;
    display: inline;
    color: black;
}
.home-body {
    position: fixed;
    top: 0;
    right: 0;
    left: 0;
    bottom: 0;
}
/* Header */
header {
    width: 100%;
    height: 140px;
    display: grid;
    grid-template-rows: 1fr 2fr;
}
header .header-icons-container {
    width: 100%;
    display: grid;
    background-color: #47cfac;
}
header .header-icons-container .icons {
    width: 300px;
    height: auto;
    display: flex;
    justify-content: flex-end;
    align-items: center;
    justify-self: end;
    margin-right: 40px;
}
header .header-icons-container .icons a {
    color: white;
}
nav {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    align-items: center;
    height: 90px;
    font-size: 1.6rem;
}
nav .nav-logo-container {
    margin-left: 50px;
}
nav .profile-link {
    justify-self: end;
    margin-right: 50px;
}
nav .nav-logo-container img {
    width: 220px;
    margin-top: 10px;
}
nav .profile-link a {
    border-bottom: 1px solid black;
}
/* Main */
.home-main {
    display: grid;
    background: url('../assets/img/Cover.png');
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    height: 100%;
}
.container {
    width: 85%;
    min-width: 320px;
    max-width: 1080px;
    margin: 0 auto;
}
.home-main .main-container {
    margin-top: 120px;
    max-width: 800px;
    display: flex;
    flex-direction: column;
    align-items: center;
}
.home-main .main-container .main-container-title {
    font-size: 4.2rem;
    text-align: center;
    letter-spacing: 1rem;
    color: white;
}
.home-main .main-container .main-container-cta {
    display: inline-block;
    margin-top: 180px;
    font-size: 2.4rem;
    font-weight: 600;
    background-color: #47cfac;
    padding: 15px;
    border: 1px solid white;
    width: fit-content;
}

/* Blogs */
.blogs-main {
    display: grid;
}
.blogs-news-container {
    background-color: #e6e9ed;
    padding: 50px 0;
}
.blogs-main-new {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 2fr;
}
.blogs-main-new h3 {
    font-size: 2rem;
    font-weight: 900;
}
.blogs-news-img-container {
    grid-column: 1;
}
.blogs-news-img-container img {
    width: 85%;
}
.blogs-news-info-container {
    grid-column: 2;
    align-self: center;
}
.blogs-news-info-container h2 {
    font-size: 2.4rem;
    font-weight: 900;
}
.blogs-news-container p {
    font-size: 1.6rem;
    font-weight: 600;
    margin-top: 14px;
}
.blogs-button {
    margin-top: 14px;
    display: inline-block;
    font-size: 1.4rem;
    font-weight: 600;
    padding: 12px;
    border: 1px solid #47cfac;
}
.blogs-posts-container {
    padding: 50px 0;
}
.blogs-posts-container h3 {
    border-bottom: 1px solid #ccd2da;
    padding-bottom: 20px;
    text-align: center;
    font-size: 2rem;
    font-weight: 900;
}
.blogs-posts-container .blogs-posts-grid {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(250px, 360px));justify-content: space-around;
    margin-top: 20px;
}
.blogs-posts-container .post-container {
    width: 100%;
}
.blogs-posts-container .post-container img {
    width: 100%;
}
.blogs-posts-container .post-container h4 {
    font-size: 1.8rem;
    margin-top: 10px;
}
.blogs-posts-container .post-container p {
    margin-top: 10px;
    font-size: 1.2rem;
}

/* Blogpost */
.blogpost-img-container {
    padding: 20px 100px;
}
.blogpost-img-container img {
    width: 100%;
}
.blogpost-main-container {
    padding: 20px 160px;
}
.blogpost-main-container h3 {
    font-size: 1.8rem;
    font-weight: 600;
    padding-bottom: 10px;
    border-bottom: 1px solid #ccd2da;
}
.blogpost-main-container h1 {
    font-size: 3rem;
    font-weight: 800;
    margin-top: 20px;
}
.blogpost-main-container p {
    font-size: 1.4rem;
    font-weight: 500;
    margin-top: 10px;
}
.contact-main-container {
    background-color: #ccd2da;
    display: grid;
    grid-template-columns: repeat(2, auto);
    padding: 40px 100px;
}
.contact-main-container .contact-left,
.contact-main-container .contact-right {
    width: 300px;
    display: flex;
    align-items: center;
}
.contact-main-container div img {
    width: 50px;
    height: 50px;
    margin-right: 10px;
}
.contact-main-container .contact-right {
    justify-self: end;
}
.contact-left a, .contact-right a {
    display: inline-block;
    border-bottom: 1px solid black;
    padding-bottom: 2px;
    font-size: 1.4rem;
    font-weight: 800;
}
.contact-left p, .contact-right p {
    font-size: 1rem;
    font-weight: 600;
    margin-top: 5px;
}
/* Perfil */
.profile-main-container {
    background-color: #e6e9ed;
    padding: 55px 0;
}
.profile-main-container .container {
    display: grid;
    grid-template-columns: 360px 1fr;
    column-gap: 30px;
    align-items: center;
}
.profile-img-container img {
    width: 100%;
}
.profile-info-container h2 {
    font-size: 2.2rem;
    font-weight: 900;
}
.profile-info-container p {
    font-size: 1.7rem;
    font-weight: 500;
    margin-top: 14px;
}
/* Projects */
.projects-main-container {
    padding: 40px 0;
}
.projects-main-container h3 {
    font-size: 1.8rem;
    font-weight: 900;
    text-align: center;
}
.projects-main-container .projects {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    column-gap: 40px;
    margin-top: 40px;
}
.projects .project-card h4 {
    font-size: 1.6rem;
    font-weight: 700;
}
.projects .project-card p {
    margin-top: 10px;
    font-size: 1.4rem;
}
/* Footer */
footer {
    background-color: rgb(34, 34, 34);
    padding: 25px 0;
    border-top: 25px solid #47cfac;
}
footer p {
    color: white;
    text-align: center;
    font-size: 1.6rem;
}
